.header {
    width: 100%;
    height: 50px;
    background-color: orange;
    font-family: "Times New Roman", Times, serif;
    top: 0px;
    position: absolute;
  }
  
  .header-title {
    margin-left: 15px;
    margin-top: 5px;
  }