.header {
    width: 100%;
    height: 50px;
    background-color: orange;
    top: 0px;
    position: absolute;
    display: flex;
    justify-content: center;
  }
  
  .header-title {
    margin-left: 15px;
    margin-top: 5px;
  }